.about,
.my-skills,
.my-resume {
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
}

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.profilepic {
    width: 10rem;
    height: auto;
    border-radius: 10px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content h3,
.about-content p {
    text-align: left;
    margin: 0;
}

.about-content p {
    margin-top: 0.5rem;
    color: #555;
}

.connectMe {
    text-align: start;
}

.link {
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

@media (max-width: 555px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

}