.about,
.skill-content,
.my-resume {

    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
}

.skill-content {
    padding: 0 1rem 1rem 1rem;
}

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.profilepic {
    width: 10rem;
    height: auto;
    border-radius: 10px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content h3,
.prj-content,
.skill-content,
.about-content p {
    text-align: left;
    margin: 0;
}

.about-content p {
    margin-top: 0.5rem;
    color: #555;
}

.connectMe {
    text-align: start;
}

.connectMelink {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.link {
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.icnclss {
    background-color: #eaeaea;
    padding: 10px;
    color: #6366f1;
    border-radius: 10px;
}

/* project */

.my-project {
    cursor: pointer;
    position: relative;
    min-height: 300px;
    width: 95%;
    border-radius: 20px;
    overflow: visible;
    /* important */
    z-index: 1;
}

/* Main image layer */
.my-project .bg-layer {
    position: relative;
    background: linear-gradient(180deg,
            #000000 0%,
            #1a1a1a 40%,
            #3a3a3a 100%);
    min-height: 300px;
    border-radius: 20px;
    z-index: 3;
}

/* Grey card 1 */
.my-project::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #d1d5db;
    border-radius: 20px;
    transform: translate(10px, 10px);
    z-index: -1;
}

/* Grey card 2 */
.my-project::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #e5e7eb;
    border-radius: 20px;
    transform: translate(20px, 20px);
    z-index: -2;
}

.prjContent {
    position: absolute;
    inset: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    color: #fff;
}

.prjContent p {
    margin-top: 0;
}

.prjTag {
    border: 1px solid #CFCFCF;
    width: 15%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.tapIcn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 5px 10px;
    border: 1px solid #CFCFCF;
    border-radius: 10px;
}


/* skillset */

.skillWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skillSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.skillSet Img {
    width: 2rem;
    background-size: cover;
    background-position: center;

}

/* Resume Section */
.my-resume {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.resume-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    color: white;
    background: linear-gradient(180deg,
            #000000 0%,
            #1a1a1a 40%,
            #3a3a3a 100%);
    border-radius: 14px;
    padding: 1rem 1.5rem;
    flex: 1;
}

.resumeBtn {
    padding: 0.5rem 1.8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: all 0.25s ease;
}

.resumeBtn:hover {
    transform: translateY(-2px);
}

@media (max-width: 580px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .prjTag {
        width: 30%;
    }

}