/* header */
.header-container {
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icn-bg {
    background-color: #eaeaea;
    padding: 5px 10px;
    color: #6366f1;
    border-radius: 10px;
    cursor: pointer;
}

/* body */
.body-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.my-list {
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 1rem;
    align-items: start;
}

.prjclss {
    /* width: 100%; */
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 1rem 2rem 1rem;
}

.others {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

@media (max-width: 1150px) {
    .my-list {
        display: contents;
        grid-template-columns: 1fr;
        text-align: center;
    }
}