/* header */
.header-container {
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons-link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.link {
    cursor: pointer;
}

.link:hover {
    font-weight: 600;
}

.linkenable {
    font-weight: bold;
}

.menu-link {
    display: none;
}

/* body */
.body-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.my-list {
    display: grid;
    grid-template-columns: 45% 1fr;
    gap: 1rem;
    align-items: start;
}

.prjclss {
    /* width: 100%; */
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 1rem 2rem 1rem;
}

.others {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

/* overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
}

/* sidebar */
.sidebar {
    position: fixed;
    color: white;
    top: 0;
    right: 0;
    width: 200px;
    background: linear-gradient(180deg,
            #000000 0%,
            #1a1a1a 40%,
            #3a3a3a 100%);
    height: 100vh;
    padding: 2rem 1.5rem;
    z-index: 10;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.sidebar-link {
    margin-bottom: 1.5rem;
    text-align: start;
    cursor: pointer;
}

.sidebar-link:hover {
    font-weight: 600;
}

.closeMenu {
    text-align: end;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 1150px) {
    .my-list {
        display: contents;
        grid-template-columns: 1fr;
        text-align: center;
    }

}

@media (max-width: 678px) {
    .icons-link {
        display: none;
    }

    .menu-link {
        display: block;
        cursor: pointer;
    }
}