.layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    padding: 0;
    box-sizing: border-box;
}

.headContainer {
    position: fixed;
    z-index: 1000;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
}

.content {
    padding: 3rem;
    margin-top: 3rem;
}